body {
	background-color: #1b1b1b;
	color: #ffffff;
	font-size: 1em;
	font-family: C059, Serif;
	width: 85%;
	max-width: 50em;
	margin: 1em auto;
	text-align: left;
}

h1 {
	font-size: 2.5em;
	margin: 0.6em 0 0.2em 0;
	color: chocolate;
}

h2, h3 {
	color: sandybrown;
}

pre {
	height: 43px;
	display: flex;
  align-items: center;
	background-color: #282828;
	border-radius: 0.3rem;
	overflow-x: auto;
}

code {
	padding: 1em;
	display: block;
	font-size: small;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

footer {
	text-align: center;
	padding: 20px;
}

ul {
	margin: 0 1em;
	padding: 0;
}

li {
	margin: 0.5em 0;
}

a {
	color: #33bbff;
}

.contenedor {
	text-align: center;
}
.contenedor img {
	display: block;
	margin: 0 auto;
}

.columns {
    column-count: 2; 
}

.block {
	display: inline-block;
	max-width: 99%;
}

.bigpre {
	height: 72px;
	display: flex;
  align-items: center;
	background-color: #282828;
	border-radius: 0.3rem;
	overflow-x: auto;
}

.bigprex {
	height: 85px;
	display: flex;
  align-items: center;
	background-color: #282828;
	border-radius: 0.3rem;
	overflow-x: auto;
}

@media (max-width: 600px) {
	.rice, .snake {
		width: 300px;
	}
	
	.columns {
		column-count: 1;
	}
}
